{% extends 'Instaworkapp/base.html' %}
{% block body_block %}
{% load static %}

<h3 style="    text-align: center;">List page</h3>
<div class="listclass" style="    background: aliceblue; overflow: auto; padding: 1%; margin: 3%;">
<div style="float: right; font-size: xxx-large;"><a href="{% url 'Instaworkapp:addview' %}" class="">+</a></div>
<br>
    <h2>Team members</h2>
    {% if nobjects == 1 %}
        <h3>You have {{ nobjects }} team member</h3>
    {% elif nobjects >= 1 %}
        <h3>You have {{ nobjects }} team members</h3>
    {% else %}
        <h3>You have no team members</h3>
    {% endif %}
    <div>
        {% if object_list %}
            {% for adddata in object_list %}
                <hr />
                <div class="container" style="margin: 0px;">
                  <div class="row">
                    <div class="col-sm-1">
                      <img src="{% static '/images/avatar.jpg' %}" alt="Avatar" class="avatar" style="  vertical-align: middle;  width: 50px;  height: 50px;  border-radius: 50%;">
                    </div>
                    <div class="col-sm-11">
                      <div id="id_{{ adddata.id }}">
                <div style="display: none;"> {{ adddata.id }}</div>
                    {% if adddata.role == 1 %}
                        <a href="{% url 'Instaworkapp:updateview' id=adddata.id %}"><b>{{ adddata.firstname}} {{ adddata.lastname }} {admin}</b></a>
                    {% else %}
                        <a href="{% url 'Instaworkapp:updateview' id=adddata.id %}"><b>{{ adddata.firstname}} {{ adddata.lastname }}</b></a>
                    {% endif %}
                    <p>{{ adddata.phoneNumber }}</p>
                    <p>{{ adddata.email }}</p>
                </div>
                    </div>
                  </div>
                </div>

            {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}