{% extends 'Instaworkapp/base.html' %}
{% block body_block %}

<h3 style="    text-align: center;">Edit page</h3>
<div class="listclass" style="    background: aliceblue;     overflow: auto; padding: 1%; margin: 3%;">
    <h2>Edit team member</h2>
    <h4>Edit contact info and role</h4>
    <div  style="padding: 2%; border: 1px solid black;">
        <form action="" method="post">
        {% csrf_token %}
        <div><h4>Info</h4></div>
        <div>{{ form.firstname }}</div><br>
        <div>{{ form.lastname }}</div><br>
            {% if form.email.errors %}

                <div> {{ form.email.errors }} </div>
                <div>{{ form.email }}</div><br>
            {% else %}
                 <div>{{ form.email }}</div><br>
        {% endif %}
            {% if form.phoneNumber.errors %}

                <div> {{ form.phoneNumber.errors }} </div>
                <div>{{ form.phoneNumber }}</div><br>
            {% else %}
                 <div>{{ form.phoneNumber }}</div><br>
        {% endif %}

        <div>Role{{ form.role }}</div><br>

        <div class="my-button" style="float: left; margin: -1%;">
            <a href="{% url 'Instaworkapp:deleteview' id=form.instance.id %}" class="btn btn-danger">Delete</a>
{#                <input type="submit" class="" value=""/>#}
        </div>

        <div class="my-button" style="float: right; margin: -1%;">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </form>
{#    </div>#}
{#      {% if error %}#}
{#  <div class="alert alert-dismissible alert-danger">#}
{#    <strong>Oh snap!</strong>{{ editform.errors }}#}
{#  </div>#}
{#  {% endif %}#}

</div>
{% endblock %}